<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="coolead_project" thread-count="3">
<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
 </listeners> 

   
    <test name="ChromeTest">	
    	<parameter name="remoteNodeUrl" value="http://192.168.1.233:5555/wd/hub"/>
    	<parameter name="browser" value="chrome"/>
    	<classes>
    		<class name="com.coolead.util.TestSeleniumGrid"/>
    	</classes>    
    </test> 
 

</suite>