<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
  <parameter name="remoteNodeUrl" value="http://218.17.70.242:5555/wd/hub"/>
    <classes>
		<class name="com.bindo.test_scripts.Test_Total">   
        	<methods>
        		<include name="login"/>
        		<include name="order"/>
        		<include name="register"/>
         	</methods>
       	</class>                 
    </classes>
  </test> 
</suite>
